<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bLoginAutomatically</string>
		<key>Title</key>
		<string>Log in automatically</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bHideMessages</string>
		<key>Title</key>
		<string>Hide instruction messages</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bPrevNext</string>
		<key>Title</key>
		<string>Add 'p' &amp; 'n' as previous/next Access Keys</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>bAddNoneProLink</string>
		<key>Key</key>
		<string>bAddProLink</string>
		<key>Title</key>
		<string>PRO link</string>
		<key>Titles</key>
		<array>
			<string>Add LA PRO link</string>
			<string>Add NY PRO link</string>
			<string>None</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>bAddLaProLink</string>
			<string>bAddNyProLink</string>
			<string>bAddNoneProLink</string>
		</array>
	</dict>
</array>
</plist>
